ansible==2.10.4
ansible-base==2.10.4
autopep8==1.5.4
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.3.1
idna==2.10
Jinja2==2.11.2
linode-api4==3.0.2
MarkupSafe==1.1.1
packaging==20.8
pycodestyle==2.6.0
pycparser==2.20
pyparsing==2.4.7
PyYAML==5.3.1
requests==2.25.1
six==1.15.0
toml==0.10.2
urllib3==1.26.2
